# Setup

In [ ]:
pip install sympy

In [ ]:
pip install pandas

In [ ]:
from sympy import *
import pandas as pd

# Aula 11

In [12]:
def faixa_int(minimo, maximo):
    while True:
        v = int(input("Entre com valor entre {} e {}: " .format(minimo, maximo)))
        if v < minimo or v > maximo:
            print("Valor inválido. Digite um valor entre {} e {}: ".format(minimo, maximo))
        else:
            return v

minimo = 5
maximo = 10

valor = faixa_int(minimo, maximo)
print("Valor inválido: ", valor)

'''
Função: faixa_int
Parâmetros: minimo, maximo
Entradas: v
Condição: v < minimo ou v > maximo
Saída: valor inválido, retorna v
como chamar função: faixa_int (minimo, maximo)
'''

Valor inválido. Digite um valor entre 5 e 10:
Valor inválido. Digite um valor entre 5 e 10:
Valor inválido:  5

'\nFunção: faixa_int\nParâmetros: minimo, maximo\nEntradas: v\nCondição: v < minimo ou v > maximo\nSaída: valor inválido, retorna v\ncomo chamar função: faixa_int (minimo, maximo)\n'

In [23]:
'''
Ex 1 - Validação de inteiro usando função
Escreva uma função para validar uma variável string.
Essa função recebe como parâmetro a string, o número mínimo e máximo de caracteres.
Retorne verdadeiro se o tamanho da string estiver entre os valores de máximo e mínimo, e falso em caso contrário.

- Dê um mone para função
- deixe 3 parâmetros para função (string, min max)
- deixe uma variável para verificar tamanho da string
- retorne min <= variável <= max
- chame função ("palavra", 1(min), 3(max))
'''
def numero_caracteres(palavra, min, max):
    tamanho = len(palavra)
    return min <= tamanho <= max

min = 1
max = 3
palavra = str(input("Entre com valor entre {} e {}: " .format(minimo, maximo)))

resultado = numero_caracteres(palavra, min, max)
print(resultado)

False

In [26]:
'''
Ex 2 - Validação de inteiro usando função

Escreva uma função que receba uma str e uma lista.
A função deve comparar a str passada com os elementos da lista, tbm passada como parâmetro.
Retorne verdadeiro se a string for encontrada dentro da lista, e falso em caso contrário.
'''

def palavra_listada (string, lista_palavras):
    if string in lista_palavras:
        return True
    else:
        return False

string = str(input(" "))
nomes = ['João', 'Maria', 'José', 'Ana']
resultado = palavra_listada (string, nomes)
print(resultado)

'''
def palavra_listada (string, lista_palavras):
    return string in lista:
'''

True

In [28]:
def soma(a,b):
    '''função soma'''
    return a+b

def subtracao(a,b):
    return a-b

def imprime(a,b,func_param):
    print(func_param)

resultado = soma(3,4)
print(resultado)
resultado = subtracao(9,5)
print(resultado)
resultado = imprime(3,4, soma)
print(resultado)
resultado = imprime(9,5, subtracao)
print(resultado)

7
4
<function soma at 0x000001FB43475BC0>
None
<function subtracao at 0x000001FB434753A0>
None

In [31]:
'''
Exercício sobre Empacotamento e desempacotamento de parâmetros

Mostre como calcular a média do resultado das quatro funções abaixo.
Crie uma função utilizando empacotamento de parâmetros para cada função.
No final, pegue o resultado das quatro funções e calcule a média.
1. Calcule a soma ente a e b
2. Calcule o produto ente a e b
3. Calcule a subtração ente a e b
4. Calcule a divisão ente a e b
5. Calcule a média entr os resultados apresentados em 1, 2, 3 e 4.
'''
def soma(lista):
    return lista_soma[0] + lista_soma[1]
def subtracao(lista):
    return lista_subtracao[0] - lista_subtracao[1]
def multiplicacao(lista):
    return lista_multiplicacao[0] * lista_multiplicacao[1]
def divisao(lista):
    return lista_divisao[0] / lista_divisao[1]


lista_soma = [2,3]
lista_subtracao = [4,2]
lista_multiplicacao = [3,5]
lista_divisao = [20,4]

adicao = soma(lista_soma)
reducao = subtracao(lista_subtracao)
multi = multiplicacao(lista_multiplicacao)
divi = divisao(lista_divisao)

media = (adicao + reducao + multi + divi)/4

print (adicao)
print (reducao)
print (multi)
print (divi)
print (media)

5
2
15
5.0
6.75

In [34]:
def soma(a,b):
    return a + b
def subtracao(a,b):
    return a - b
def multiplicacao(a,b):
    return a * b
def divisao(a,b):
    return a / b


lista_soma = [2,3]
lista_subtracao = [4,2]
lista_multiplicacao = [3,5]
lista_divisao = [20,4]

adicao = soma(*lista_soma)
reducao = subtracao(*lista_subtracao)
multi = multiplicacao(*lista_multiplicacao)
divi = divisao(*lista_divisao)

media = (adicao + reducao + multi + divi)/4

print (adicao)
print (reducao)
print (multi)
print (divi)
print (media)

5
2
15
5.0
6.75

In [35]:
'''
Aplicação de função em dados (dataframe)
Somar valores de uma coluna numérica
'''

data = {'coluna_1':[10,20,30,40,50],
        'coluna_2':[5,10,15,20,25],
        'coluna_3':['a','b','c','d','e'],
        'coluna_4':['x','y','z','w','v']}

df=pd.DataFrame(data)

def soma_coluna_numerica(coluna):
    return coluna.sum()

resultado_soma = soma_coluna_numerica(df['coluna_1'])
resultado_soma

150

In [41]:
df = pd.DataFrame(data)
df

   coluna_1  coluna_2 coluna_3 coluna_4
0        10         5        a        x
1        20        10        b        y
2        30        15        c        z
3        40        20        d        w
4        50        25        e        v

In [39]:
#Calculo de média

def media_coluna(coluna):
    return coluna.sum()

resultado = media_coluna(df['coluna_1'])
resultado

150

In [43]:
def soma_coluna(df):
    df['soma'] = df['coluna_1'] + df['coluna_2']
    return df

In [44]:
soma_coluna(df)

   coluna_1  coluna_2 coluna_3 coluna_4  soma
0        10         5        a        x    15
1        20        10        b        y    30
2        30        15        c        z    45
3        40        20        d        w    60
4        50        25        e        v    75